<a href="https://colab.research.google.com/github/AdamsSilva/ML_DATASCIENCE/blob/main/C%C3%B3pia_de_Python_para_Engenheiros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time

lista_1 = list(range(10**6))
soma_1 = 0

for i in lista_1:
  soma_1 +=i
print(soma_1)


inicio = time()
fim = time()
tempo_1 = fim - inicio

499999500000

In [ ]:
import numpy as np
arr = np.array(lista_1, dtype=float)
soma_2 = arr.sum()

fim = time()
tempo_2 = fim - inicio
print(soma_2)
print(tempo_2)

499999500000.0
5.266546964645386

In [ ]:
tempo_2/tempo_1

8.1 ARRAY
LISTA TEM DUAS DIMENSÕES
MATRIZ TEM DUAS DIMENSÕES
ARRAY TEM "N" DIMENSÕES

In [ ]:
A_1 = np.array([1,1,1])
A_1.shape

# 01 linha

In [ ]:
A_1super = np.array([[1,1,1]])
A_1super
# 1 linha e 03 colunas

In [ ]:
a_2 =  np.array([[1,2,3],[4,5,6]])
a_2.shape
a_2
#duas linhas e 3 colunas

In [ ]:
a_2.size
#quantide de itens

In [ ]:
a_2.ndim
#dimensões

In [ ]:
a_3 =  np.array([['python',2.,.3],[4,5,6]])
a_3
# AQUI TODOS FORAM CONVERTIDOS PARA STRING

In [ ]:
a_4 =  np.array([[3.,2.,.3],[4,5,6]])
a_4.shape

In [ ]:
a_5 =  np.arange(27).reshape(3,3,3)
a_5

In [ ]:
print('Olá, mundo')

In [ ]:
variavel_b = input('Digita aqui ')

In [ ]:
type(variavel_b)

In [ ]:
a = type(variavel_b)
a

In [ ]:
a = 5
b = 5.
c = a + b

In [ ]:
type(c)

In [ ]:
e = 10**2
e

In [ ]:
string_numero = '123'
n_1 = float(string_numero)
n_1 * n_1

In [ ]:
a = 'ola \n mundo'
print(a)

In [ ]:
lista_a =  [1,2,3,'adams']
lista_a

In [ ]:
lista_1 = ['P','Y','T','H','O','M']
string_1 = 'PYTHON'

In [ ]:
string_1[:3]

In [ ]:
lista_1[:3]

In [ ]:
string_1+string_1

In [ ]:
# VALORES BOOLEANOS

In [ ]:
# CONDICIONAL IF

x = 5
if x > 3:
  print('x é maior que 3')

In [ ]:
x = 3

if x > 3:
  print('x é maior que 3')
elif x < 3:
  print('x é menor que 3')
else:
  print('x é igual a 3')

In [ ]:
x = 'adams'

if type(x) is not str:
  print('x é um número')
else:
  print('x é uma string')

In [ ]:
lista = ['a','d','s',2., 3]
for i in lista:
  print(i)

In [ ]:

for i in range(len(lista) ):
  print(i)

In [ ]:
lista = ['a','d','s',2., 3]

for i in enumerate(lista):
  print(i)

In [ ]:
x = 10
while x > 5:
  print(x)
  x += 1
  if x >20:
    break

In [ ]:
x = 0
if x > 0:
  print('x é positivo')
elif x < 0:
  print('x é negativo')
elif x == 0:
  print('zero')

In [ ]:
valores = [1,2,3,4,5]
letras = ['a','b','c','d','e']

In [ ]:
nova_lista = []
for i in range(len(valores)):
  nova_lista.append([valores[i],letras[i]])

In [ ]:
print(nova_lista)

In [ ]:
faturamento =2000
custo = 500
lucro = faturamento - custo
print(lucro)

1500

In [ ]:
print('o faturamento da loja foi de {}. O custo da loja foi {}. Assim, o lucro da loja foi {}'.format(faturamento,custo,lucro))

o faturamento da loja foi de 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500

In [ ]:
print(type(faturamento))
print(type(custo))

<class 'int'>
<class 'int'>

In [ ]:
idade = float(input('Qual sua idade? '))

Qual sua idade? 38

In [ ]:
print(idade)
print(type(idade))

38.0
<class 'float'>

In [ ]:
telefone = int(input('Qual seu telefone? '))

Qual seu telefone? 81998934991

In [ ]:
tamanho_do_tel = len(str(telefone))

In [ ]:
if tamanho_do_tel < 10:
  print('telefone invalido')
else:
  print('telefone valido')

telefone valido

#CONDIÇÃO IF

In [ ]:
meta = 50000
qtde_vendida = 110
if qtde_vendida >= meta:
  print('Batemos a meta de vendas de Iphone, vendemos {} unidades'.format(qtde_vendida))
else:print('Não batemos a meta')

Não batemos a meta

In [ ]:
meta = 0.05
taxa = 0
rendimento = 0.21
if rendimento > meta:
  if rendimento > 0.20:
    taxa = 0.04
    print('A taxa foi de {}'.format(taxa))
  else:
    taxa = 0.02
    print('A taxa foi de {}'.format(taxa))
else:
    taxa = 0
    print('A taxa foi de {}'.format(taxa))

A taxa foi de 0.04

In [ ]:
numero1= int(input('Digite o primeiro numero: '))
numero2= int(input('Digite o segundo numero: '))

if numero1 > numero2:
  print('O primeiro numero é {} e é maior que o segundo'.format(numero1))
elif numero2 > numero1:
  print('O segundo numero é {} e é maior que o primeiro'.format(numero2))
else:
  print('Os numeros são iguais')

Digite o primeiro numero: 18
Digite o segundo numero: 37
O segundo numero é 37 e é maior que o primeiro

In [ ]:
email ='adm@live.com'

In [ ]:
print('@' in email)

True

In [ ]:
fat = 2000
custo = 500
lucro = fat - custo
print(lucro)

1500

In [ ]:
#forma 01
print('O faturamento da loja foi de {}. O custo da loja foi {}. Assim, o lucro da loja foi {}'.format(fat,custo,lucro))

O faturamento da loja foi de 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500

In [ ]:
#forma 02 aqui iremos inserir em cada colchete o que queremos
print('O faturamento da loja foi de {0}. O custo da loja foi {1}. Assim, o lucro da loja foi {2}. Mas só pra lembrar o lucro foi de {2}'.format(fat,custo,lucro))

O faturamento da loja foi de 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500. Mas só pra lembrar o lucro foi de 1500

In [ ]:
# USO DO %s ou %d

print('faturamento : R$%s. E o custo foi de R$%d. E o lucro foi de R$%d' % (fat, custo, lucro))

faturamento : R$2000. E o custo foi de R$500. E o lucro foi de R$1500

In [ ]:
print('Faturamento de {}'.format)

In [ ]:
custo = 5000
faturamento = 2700
lucro = faturamento - custo
print('faturamento foi de {:.2f} e o lucro foi de  {:+}'.format(faturamento, lucro))

faturamento foi de 2700.00 e o lucro foi de  -2300

In [ ]:
# ex separador de milhar
custo = 50000
faturamento = 27000
lucro = faturamento - custo

lucro_formatado = 'R${:_.2f}'.format(lucro)
print('faturamento foi de {:_,} e o lucro foi de  {:+,}'.format(faturamento, lucro))
print(lucro_formatado.replace('.',',').replace('_','.'))

ValueError: Cannot specify both ',' and '_'.

In [ ]:
# casas decimais fixas

# ex separador de milhar
custo = 50000
faturamento = 27000
lucro = faturamento - custo
print('faturamento foi de {:.2f} e o lucro foi de  {:.2f}'.format(faturamento, lucro))

faturamento foi de 27000.00 e o lucro foi de  -23000.00

In [ ]:
texto =  'adams'
print(texto.upper())

ADAMS

In [ ]:
print(texto.capitalize())

Adams

In [ ]:
print(texto.casefold())

adams

In [ ]:
print(texto.count('a'))

2

In [ ]:
email = 'adm.francisco@live.com'
teste_email = print(email.endswith('@live.com'))
if teste_email == True:
  print('email valido')
else:
  print('email invalido')

True
email invalido

In [ ]:
fat = 2000
custo = 500
lucro = fat - custo
print(lucro)

1500

In [ ]:
#forma 02 aqui iremos inserir em cada colchete o que queremos
print('O faturamento da loja foi de {}. O custo da loja foi {}. Assim, o lucro da loja foi {}. Mas só pra lembrar o lucro foi de'.format(fat,custo,lucro))

O faturamento da loja foi de 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500. Mas só pra lembrar o lucro foi de

In [ ]:
# MÉTODO APENAS PARA POSIÇÃO DO TERMO

email = 'adm@live.com'
print('Meu email não é {:^30}, certo?'.format(email))

Meu email não é          adm@live.com         , certo?

In [ ]:
# ex separador de milhar
custo = 50000
faturamento = 27000
lucro = faturamento - custo

lucro_formatado = 'R${:_.2f}'.format(lucro)
print('faturamento foi de {:_,} e o lucro foi de  {:+,}'.format(faturamento, lucro))
print(lucro_formatado.replace('.',',').replace('_','.'))

In [ ]:
custo = 100
faturamento = 10000
lucro = (faturamento - custo)
porcentagem = (faturamento - custo)/faturamento
print('faturamento foi de R${:,.2f}, o lucro foi de R${:,.1f} e a porcentagem foi de R${:,.1f}'.format(faturamento, lucro, porcentagem))
print('faturamento foi de R${:,.2F}, o lucro foi de  R${:,.1f} e a porcentagem foi de {:,.2%}'.format(faturamento, lucro, porcentagem))

faturamento foi de R$10,000.00, o lucro foi de R$9,900.0 e a porcentagem foi de R$1.0
faturamento foi de R$10,000.00, o lucro foi de  R$9,900.0 e a porcentagem foi de 99.00%

In [ ]:
# FUNÇÃO ROUND - ARREDONDAR

imposto = 0.15758
preco = 100
valor_imposto = round(preco * imposto, 2)
print('Imposto sobre o preço é de R${}'.format(valor_imposto))

Imposto sobre o preço é de R$15.76

## LISTAS EM PYTON

In [ ]:

precos = [28.99, 31.85, 17.66, 6.82, 5.09, 12.84, 13.3, 42.41, 15.29, 24.77, 13.31, 7.81, 8.78, 3.06, 34.34, 21.23, 22.58, 34.95, 24.32, 34.27]
produtos = ['Arroz', 'Feijão', 'Açúcar', 'Leite', 'Óleo', 'Café', 'Farinha', 'Sal', 'Massa', 'Biscoito', 'Suco', 'Cereal', 'Sabonete', 'Shampoo', 'Pasta de dente', 'Detergente', 'Desodorante', 'Papel higiênico', 'Sabão em pó', 'Amaciante']

In [ ]:
for i in  zip(produtos,precos):
  print(i)

('Arroz', 28.99)
('Feijão', 31.85)
('Açúcar', 17.66)
('Leite', 6.82)
('Óleo', 5.09)
('Café', 12.84)
('Farinha', 13.3)
('Sal', 42.41)
('Massa', 15.29)
('Biscoito', 24.77)
('Suco', 13.31)
('Cereal', 7.81)
('Sabonete', 8.78)
('Shampoo', 3.06)
('Pasta de dente', 34.34)
('Detergente', 21.23)
('Desodorante', 22.58)
('Papel higiênico', 34.95)
('Sabão em pó', 24.32)
('Amaciante', 34.27)

In [ ]:
produto =  input('insira o nome do produto: ')
if produto in produtos:
  i = produtos.index(produto)
  lista_de_precos = precos[i]
  print('O produto {} tem o valor de R${}'.format(produto,lista_de_precos))
else:
  print('O produto {} não está na lista'.format(produto))

insira o nome do produto: Papel higiênico
O produto Papel higiênico tem o valor de R$34.95

# ADICIONAR OU REMOVER ITENS DE UMA LISTA

In [ ]:
# POP pode add em uma nova planilha os itens removidos. E você usa o INDICE
# JÁ O REMOVE você usa o nome do item

produtos_apple = ['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro',
'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro',
'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac',
'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard',
'Magic Mouse', 'Magic Trackpad']
#add produtos
produtos_apple.append('Apple Vision Pro')
print(len(produtos_apple))

21

In [ ]:
#removendo com o remove

produtos_apple.remove('Apple Vision Pro')
print(len(produtos_apple))

20

In [ ]:
produtos_apple.append('Apple Vision Pro')
print(len(produtos_apple))

22

In [ ]:
#removendo com o pop aqui é pelo indice

#uma das formas de tratar um possível erro é usando o método TRY junto com o
# except e coloca um print. ou pode usar um PASS pra o código continuar

#como não sei o indice, usei o método index para descobrir o índice pelo nome
try:
  produtos_apple.pop(produtos_apple.index('Apple Vision Pro'))
  #printei o tamanho da lista para verificar se houve a exclusão
  print(len(produtos_apple))
  #criei uma lista para receber os produtos removidos
  removidos = produtos_apple.pop()
  #printando tanto os removidos como a lista original
  print('O item {} foi removido'.format(removidos))
  print('Essa é a lista completa:{} '.format(produtos_apple))
except:
  print('Não tá na lista')

Não tá na lista

# JUNTAR, ORDENAR
# MÉTODO EXTEND CRIA UMA NOVA LISTA  E O MÉTODO APPEND QUE MODIFICA A LISTA ORIGINAL

In [ ]:
produtos_apple = ['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro',
'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro',
'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac',
'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard',
'Magic Mouse', 'Magic Trackpad']
novo_produto_apple = ['Apple Vision Pro']

#USANDO O EXTEND

print(produtos_apple)
print(novo_produto_apple)

['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro', 'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro', 'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac', 'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard', 'Magic Mouse', 'Magic Trackpad']
['Apple Vision Pro']

In [ ]:
produtos_apple.extend(novo_produto_apple)
print(produtos_apple)

['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro', 'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro', 'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac', 'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard', 'Magic Mouse', 'Magic Trackpad', 'Apple Vision Pro']

In [ ]:
# ORDENDAR A LISTA

produtos_apple.sort(reverse=True)
print(produtos_apple)

['iPhone 15 Pro Max', 'iPhone 15', 'iPad Pro', 'iPad Air', 'iMac', 'Magic Trackpad', 'Magic Mouse', 'Magic Keyboard', 'MacBook Pro', 'MacBook Air', 'Mac Studio', 'Mac Mini', 'HomePod Mini', 'HomePod', 'Apple Watch Ultra', 'Apple Watch Series 9', 'Apple Vision Pro', 'Apple TV 4K', 'Apple Pencil', 'AirPods Pro', 'AirPods Max']

PRINT DE LISTAS

In [ ]:
produtos_apple = ['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro',
'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro',
'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac',
'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard',
'Magic Mouse', 'Magic Trackpad']

print('\n'.join(produtos_apple))
print(','.join(produtos_apple))

iPhone 15
iPhone 15 Pro Max
MacBook Air
MacBook Pro
iPad Pro
iPad Air
Apple Watch Series 9
Apple Watch Ultra
AirPods Pro
AirPods Max
Apple TV 4K
HomePod
HomePod Mini
iMac
Mac Mini
Mac Studio
Apple Pencil
Magic Keyboard
Magic Mouse
Magic Trackpad
iPhone 15,iPhone 15 Pro Max,MacBook Air,MacBook Pro,iPad Pro,iPad Air,Apple Watch Series 9,Apple Watch Ultra,AirPods Pro,AirPods Max,Apple TV 4K,HomePod,HomePod Mini,iMac,Mac Mini,Mac Studio,Apple Pencil,Magic Keyboard,Magic Mouse,Magic Trackpad

In [ ]:
#aqui está como texto
produtos_apple = 'iPhone 15, iPhone 15 Pro Max, MacBook Air, MacBook Pro'

#TRANSFORMANDO texto EM LISTA
lista_sem_aspas = produtos_apple.split(', ')

print(lista_sem_aspas)

['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro']

In [ ]:
# COPY

meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
meses2 = meses.copy()
print(meses2)

['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']

In [ ]:
meses2.pop(11)
print(meses2)

['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov']

#**Estrutura de Repetição**

In [ ]:
# for

for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
nome = 'adams'
tam_nome = len(nome)
letra = nome.index


for v in range(tam_nome):
  print(nome[v])

a
d
a
m
s

In [ ]:
texto = 'Brasil'
for let in texto:
  print(let)

B
r
a
s
i
l

In [ ]:
for i in range(tam_nome):
    print(nome[i])

a
d
a
m
s

In [ ]:
import random

# Criando a lista com 30 itens aleatórios entre 20 e 2000
lista_valores = [random.randint(20, 2000) for _ in range(30)]
print(lista_valores)

[1889, 360, 767, 329, 1019, 431, 222, 1884, 1559, 824, 717, 503, 1640, 1765, 361, 1980, 979, 1177, 1144, 1321, 874, 668, 1314, 1201, 1988, 809, 1955, 1935, 1699, 576]

In [ ]:
# Iterar diretamente sobre cada letra da string
for letra in nome:
    print(letra)

a
d
a
m
s

In [ ]:
vendas = lista_valores.copy()

In [ ]:
print(vendas)

[1889, 360, 767, 329, 1019, 431, 222, 1884, 1559, 824, 717, 503, 1640, 1765, 361, 1980, 979, 1177, 1144, 1321, 874, 668, 1314, 1201, 1988, 809, 1955, 1935, 1699, 576]

FOR + IF

In [ ]:
print(vendas)
meta = 1000
qtd_meta_batida = 0
for venda in vendas:
  if venda >= meta:
    qtd_meta_batida += 1
qtd_total_vendas= len(vendas)
print(qtd_meta_batida)
print(qtd_total_vendas)
print('O percentual de vendas acima da média foi de {:.2%}'.format(qtd_meta_batida/qtd_total_vendas))

[1889, 360, 767, 329, 1019, 431, 222, 1884, 1559, 824, 717, 503, 1640, 1765, 361, 1980, 979, 1177, 1144, 1321, 874, 668, 1314, 1201, 1988, 809, 1955, 1935, 1699, 576]
16
30
O percentual de vendas acima da média foi de 53.33%

ENUMERATE

In [ ]:
funcionarios = ['Lucas', 'Ana', 'João', 'Mariana', 'Pedro', 'Carla', 'Gustavo', 'Beatriz', 'Felipe', 'Letícia',
 'Bruno', 'Camila', 'Rafael', 'Fernanda', 'Gabriel', 'Isabela', 'Matheus', 'Sofia', 'Ricardo', 'Paula',
 'Daniel', 'Juliana', 'Rodrigo', 'Larissa', 'Vinicius', 'Bianca', 'Thiago', 'Gabriela', 'Eduardo', 'Caroline']


for funcionario in funcionarios:
  print(funcionario)

Lucas
Ana
João
Mariana
Pedro
Carla
Gustavo
Beatriz
Felipe
Letícia
Bruno
Camila
Rafael
Fernanda
Gabriel
Isabela
Matheus
Sofia
Ricardo
Paula
Daniel
Juliana
Rodrigo
Larissa
Vinicius
Bianca
Thiago
Gabriela
Eduardo
Caroline

In [ ]:
for i, funcionario in enumerate(funcionarios):
  print('{} é o funcionário {}'.format(funcionario,i))

Lucas é o funcionário 0
Ana é o funcionário 1
João é o funcionário 2
Mariana é o funcionário 3
Pedro é o funcionário 4
Carla é o funcionário 5
Gustavo é o funcionário 6
Beatriz é o funcionário 7
Felipe é o funcionário 8
Letícia é o funcionário 9
Bruno é o funcionário 10
Camila é o funcionário 11
Rafael é o funcionário 12
Fernanda é o funcionário 13
Gabriel é o funcionário 14
Isabela é o funcionário 15
Matheus é o funcionário 16
Sofia é o funcionário 17
Ricardo é o funcionário 18
Paula é o funcionário 19
Daniel é o funcionário 20
Juliana é o funcionário 21
Rodrigo é o funcionário 22
Larissa é o funcionário 23
Vinicius é o funcionário 24
Bianca é o funcionário 25
Thiago é o funcionário 26
Gabriela é o funcionário 27
Eduardo é o funcionário 28
Caroline é o funcionário 29

In [ ]:
# Criando a lista com 30 itens aleatórios entre 20 e 2000
lista_estoque = [random.randint(20, 2000) for _ in range(10)]
print(lista_estoque)
produtos = ['Arroz', 'Feijão', 'Açúcar', 'Leite', 'Óleo', 'Café', 'Farinha', 'Sal', 'Massa', 'Biscoito']
estoque_minimo = 50

[1157, 1483, 692, 1371, 1637, 1868, 208, 1757, 1391, 1591]

In [ ]:
produtos = ['Arroz', 'Feijão', 'Açúcar', 'Leite', 'Óleo', 'Café', 'Farinha', 'Sal', 'Massa', 'Biscoito']
estoque_minimo = 1500
estoque = lista_estoque.copy()
print(estoque)

[1157, 1483, 692, 1371, 1637, 1868, 208, 1757, 1391, 1591]

In [ ]:
for i, qtd in enumerate(estoque):
  if qtd < estoque_minimo:
    print('{} está abaixo do estoque minimo. Tem apenas {} unidades'.format(produtos[i], qtd))

Arroz está abaixo do estoque minimo. Tem apenas 1157 unidades
Feijão está abaixo do estoque minimo. Tem apenas 1483 unidades
Açúcar está abaixo do estoque minimo. Tem apenas 692 unidades
Leite está abaixo do estoque minimo. Tem apenas 1371 unidades
Farinha está abaixo do estoque minimo. Tem apenas 208 unidades
Massa está abaixo do estoque minimo. Tem apenas 1391 unidades

In [ ]:
#testando o enumerate
print(produtos)
print(estoque)

['Arroz', 'Feijão', 'Açúcar', 'Leite', 'Óleo', 'Café', 'Farinha', 'Sal', 'Massa', 'Biscoito']
[1157, 1483, 692, 1371, 1637, 1868, 208, 1757, 1391, 1591]

In [ ]:
# NO ENUMERATE NÃO PRECISA COLOCAR O 'i' NO PRINT.  POIS NO INICIO
# DO FOR JÁ TEM E SERVE PARA OS DOIS ITEMS

for i, produto in enumerate(produtos):
  qtd_estoque = estoque[i]
  print(produto, qtd_estoque)

Arroz 1157
Feijão 1483
Açúcar 692
Leite 1371
Óleo 1637
Café 1868
Farinha 208
Sal 1757
Massa 1391
Biscoito 1591

In [ ]:
!pip install openpyxl

import openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [14]:
# Dados dos usuários
usuarios = [
    {"id": 0, "name": "Hero"},
    {"id": 1, "name": "Dunn"},
    {"id": 2, "name": "Sue"},
    {"id": 3, "name": "Chi"},
    {"id": 4, "name": "Thor"},
    {"id": 5, "name": "Clive"},
    {"id": 6, "name": "Hicks"},
    {"id": 7, "name": "Devin"},
    {"id": 8, "name": "Kate"},
    {"id": 9, "name": "Klein"}
]

# Lista de pares de amizades
pares_amizades = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3),(3, 4), (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]
# Inicialize o dict com uma lista vazia para cada id de usuário
lista_de_amizades = {usuario["id"]: [] for usuario in usuarios}

In [15]:
#AQUI ESTÁ O USUÁRIO E A LISTA EM VAZIA
print(lista_de_amizades)

{0: [], 1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: []}

In [22]:
# Para cada  primeiro valor e o segundo valor dentro das tuplas na lista Pares_amizades(cada loop é por uma tupla - ou par de números)
for primeiro_valor, segundo_valor in pares_amizades:
    lista_de_amizades[primeiro_valor].append(segundo_valor)
# Na lista de amizades do primeiro_valor adicione o segundo_valor na lista
    lista_de_amizades[segundo_valor].append(primeiro_valor)
# na lista de amizades do segundo_valor adicione o primeiro_valor na lista

In [23]:
print(friendship_pairs[j])
print(friendships[j])

(6, 8)
[]

In [ ]:
print(len(friendships[9]))

1

In [ ]:
# Agora podemos responder à pergunta: "Qual é o número médio de conexões?"
def number_of_friends(usuario):
    """Quantos amigos tem o usuário `user`?"""
    user_id = usuario["id"] # ATRIBUI O ID DA LISTA
    friend_ids = friendships[user_id] #PEGOU O ID DO USUÁRIO E ATRIBUIU À LISTA DE RELACIONAMENTO QUE USAM OS MESMOS IDS
    return len(friend_ids) # AQUI PEDE O TAMENTO DA LISTA RELACIONAMENTO

In [ ]:
# Total de conexões (somando os tamanhos de todas as listas de amigos)
#AQUI É PARTE DO CÓD ANTERIOR. A FUNÇAO "def number_of_friends(usuario):" TRAZ O TAMANHO DA LISTA DE RELACIONAMENTO
# NESSE CÓDIGO ELE VAI TRAZER O TOTAL DE CONEXOES. A SOMA DA FUNÇÃO "NUMEROS DE AMIGOS" FOR CADA USUÁRIO DENTRO DO DICT
# USERS. PARA CHAMAR A FUNÇÃO BASTA A PRIMEIRA PARTE.
total_connections = sum(number_of_friends(usuario) for usuario in users)

# Número de usuários
num_users = len(users)

In [ ]:
# Número médio de conexões
avg_connections = total_connections / num_users

# Encontre as pessoas mais conectadas (as que têm o maior número de amigos)
# Crie uma lista (user_id, number_of_friends)
num_friends_by_id = [(user["id"], number_of_friends(user)) for user in users]

# Classifique a lista por number_of_friends (do maior para o menor)
num_friends_by_id.sort(
    key=lambda id_and_friends: id_and_friends[1],
    reverse=True
)

# Exibe os resultados
print("Número total de conexões:", total_connections)
print("Número médio de conexões:", avg_connections)
print("Usuários com mais amigos (id, número de amigos):")
for user_id, num_friends in num_friends_by_id:
    print(f"Usuário {user_id} tem {num_friends} amigos")

Número total de conexões: 24
Número médio de conexões: 2.4
Usuários com mais amigos (id, número de amigos):
Usuário 1 tem 3 amigos
Usuário 2 tem 3 amigos
Usuário 3 tem 3 amigos
Usuário 5 tem 3 amigos
Usuário 8 tem 3 amigos
Usuário 0 tem 2 amigos
Usuário 4 tem 2 amigos
Usuário 6 tem 2 amigos
Usuário 7 tem 2 amigos
Usuário 9 tem 1 amigos