<a href="https://colab.research.google.com/github/AdamsSilva/ML_DATASCIENCE/blob/main/Python_para_Engenheiros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time

lista_1 = list(range(10**6))
soma_1 = 0

for i in lista_1:
  soma_1 +=i
print(soma_1)


inicio = time()
fim = time()
tempo_1 = fim - inicio

499999500000

In [ ]:
import numpy as np
arr = np.array(lista_1, dtype=float)
soma_2 = arr.sum()

fim = time()
tempo_2 = fim - inicio
print(soma_2)
print(tempo_2)

499999500000.0
5.266546964645386

In [ ]:
tempo_2/tempo_1

8.1 ARRAY
LISTA TEM DUAS DIMENSÕES
MATRIZ TEM DUAS DIMENSÕES
ARRAY TEM "N" DIMENSÕES

In [ ]:
A_1 = np.array([1,1,1])
A_1.shape

# 01 linha

In [ ]:
A_1super = np.array([[1,1,1]])
A_1super
# 1 linha e 03 colunas

In [ ]:
a_2 =  np.array([[1,2,3],[4,5,6]])
a_2.shape
a_2
#duas linhas e 3 colunas

In [ ]:
a_2.size
#quantide de itens

In [ ]:
a_2.ndim
#dimensões

In [ ]:
a_3 =  np.array([['python',2.,.3],[4,5,6]])
a_3
# AQUI TODOS FORAM CONVERTIDOS PARA STRING

In [ ]:
a_4 =  np.array([[3.,2.,.3],[4,5,6]])
a_4.shape

In [ ]:
a_5 =  np.arange(27).reshape(3,3,3)
a_5

In [ ]:
print('Olá, mundo')

In [ ]:
variavel_b = input('Digita aqui ')

In [ ]:
type(variavel_b)

In [ ]:
a = type(variavel_b)
a

In [ ]:
a = 5
b = 5.
c = a + b

In [ ]:
type(c)

In [ ]:
e = 10**2
e

In [ ]:
string_numero = '123'
n_1 = float(string_numero)
n_1 * n_1

In [ ]:
a = 'ola \n mundo'
print(a)

In [ ]:
lista_a =  [1,2,3,'adams']
lista_a

In [ ]:
lista_1 = ['P','Y','T','H','O','M']
string_1 = 'PYTHON'

In [ ]:
string_1[:3]

In [ ]:
lista_1[:3]

In [ ]:
string_1+string_1

In [ ]:
# VALORES BOOLEANOS

In [ ]:
# CONDICIONAL IF

x = 5
if x > 3:
  print('x é maior que 3')

In [ ]:
x = 3

if x > 3:
  print('x é maior que 3')
elif x < 3:
  print('x é menor que 3')
else:
  print('x é igual a 3')

In [ ]:
x = 'adams'

if type(x) is not str:
  print('x é um número')
else:
  print('x é uma string')

In [ ]:
lista = ['a','d','s',2., 3]
for i in lista:
  print(i)

In [ ]:

for i in range(len(lista) ):
  print(i)

In [ ]:
lista = ['a','d','s',2., 3]

for i in enumerate(lista):
  print(i)

In [ ]:
x = 10
while x > 5:
  print(x)
  x += 1
  if x >20:
    break

In [ ]:
x = 0
if x > 0:
  print('x é positivo')
elif x < 0:
  print('x é negativo')
elif x == 0:
  print('zero')

In [ ]:
valores = [1,2,3,4,5]
letras = ['a','b','c','d','e']

In [ ]:
nova_lista = []
for i in range(len(valores)):
  nova_lista.append([valores[i],letras[i]])

In [ ]:
print(nova_lista)

In [ ]:
faturamento =2000
custo = 500
lucro = faturamento - custo
print(lucro)

1500

In [ ]:
print('o faturamento da loja foi de {}. O custo da loja foi {}. Assim, o lucro da loja foi {}'.format(faturamento,custo,lucro))

o faturamento da loja foi de 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500

In [ ]:
print(type(faturamento))
print(type(custo))

<class 'int'>
<class 'int'>

In [ ]:
idade = float(input('Qual sua idade? '))

Qual sua idade? 38

In [ ]:
print(idade)
print(type(idade))

38.0
<class 'float'>

In [ ]:
telefone = int(input('Qual seu telefone? '))

Qual seu telefone? 81998934991

In [ ]:
tamanho_do_tel = len(str(telefone))

In [ ]:
if tamanho_do_tel < 10:
  print('telefone invalido')
else:
  print('telefone valido')

telefone valido

#CONDIÇÃO IF

In [ ]:
meta = 50000
qtde_vendida = 110
if qtde_vendida >= meta:
  print('Batemos a meta de vendas de Iphone, vendemos {} unidades'.format(qtde_vendida))
else:print('Não batemos a meta')

Não batemos a meta

In [ ]:
meta = 0.05
taxa = 0
rendimento = 0.21
if rendimento > meta:
  if rendimento > 0.20:
    taxa = 0.04
    print('A taxa foi de {}'.format(taxa))
  else:
    taxa = 0.02
    print('A taxa foi de {}'.format(taxa))
else:
    taxa = 0
    print('A taxa foi de {}'.format(taxa))

A taxa foi de 0.04

In [ ]:
numero1= int(input('Digite o primeiro numero: '))
numero2= int(input('Digite o segundo numero: '))

if numero1 > numero2:
  print('O primeiro numero é {} e é maior que o segundo'.format(numero1))
elif numero2 > numero1:
  print('O segundo numero é {} e é maior que o primeiro'.format(numero2))
else:
  print('Os numeros são iguais')

Digite o primeiro numero: 18
Digite o segundo numero: 37
O segundo numero é 37 e é maior que o primeiro

In [ ]:
email ='adm@live.com'

In [ ]:
print('@' in email)

True

In [ ]:
fat = 2000
custo = 500
lucro = fat - custo
print(lucro)

1500

In [ ]:
#forma 01
print('O faturamento da loja foi de {}. O custo da loja foi {}. Assim, o lucro da loja foi {}'.format(fat,custo,lucro))

O faturamento da loja foi de 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500

In [ ]:
#forma 02 aqui iremos inserir em cada colchete o que queremos
print('O faturamento da loja foi de {0}. O custo da loja foi {1}. Assim, o lucro da loja foi {2}. Mas só pra lembrar o lucro foi de {2}'.format(fat,custo,lucro))

O faturamento da loja foi de 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500. Mas só pra lembrar o lucro foi de 1500

In [ ]:
# USO DO %s ou %d

print('faturamento : R$%s. E o custo foi de R$%d. E o lucro foi de R$%d' % (fat, custo, lucro))

faturamento : R$2000. E o custo foi de R$500. E o lucro foi de R$1500

In [ ]:
print('Faturamento de {}'.format)

In [19]:
custo = 5000
faturamento = 2700
lucro = faturamento - custo
print('faturamento foi de {:.2f} e o lucro foi de  {:+}'.format(faturamento, lucro))

faturamento foi de 2700.00 e o lucro foi de  -2300

In [2]:
# ex separador de milhar
custo = 50000
faturamento = 27000
lucro = faturamento - custo

lucro_formatado = 'R${:_.2f}'.format(lucro)
print('faturamento foi de {:_,} e o lucro foi de  {:+,}'.format(faturamento, lucro))
print(lucro_formatado.replace('.',',').replace('_','.'))

ValueError: Cannot specify both ',' and '_'.

In [ ]:
# casas decimais fixas

# ex separador de milhar
custo = 50000
faturamento = 27000
lucro = faturamento - custo
print('faturamento foi de {:.2f} e o lucro foi de  {:.2f}'.format(faturamento, lucro))

faturamento foi de 27000.00 e o lucro foi de  -23000.00

In [1]:
texto =  'adams'
print(texto.upper())

ADAMS

In [3]:
print(texto.capitalize())

Adams

In [4]:
print(texto.casefold())

adams

In [7]:
print(texto.count('a'))

2

In [10]:
email = 'adm.francisco@live.com'
teste_email = print(email.endswith('@live.com'))
if teste_email == True:
  print('email valido')
else:
  print('email invalido')

True
email invalido

In [12]:
fat = 2000
custo = 500
lucro = fat - custo
print(lucro)

1500

In [15]:
#forma 02 aqui iremos inserir em cada colchete o que queremos
print('O faturamento da loja foi de {}. O custo da loja foi {}. Assim, o lucro da loja foi {}. Mas só pra lembrar o lucro foi de'.format(fat,custo,lucro))

O faturamento da loja foi de 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500. Mas só pra lembrar o lucro foi de

In [5]:
# MÉTODO APENAS PARA POSIÇÃO DO TERMO

email = 'adm@live.com'
print('Meu email não é {:^30}, certo?'.format(email))

Meu email não é          adm@live.com         , certo?

In [ ]:
# ex separador de milhar
custo = 50000
faturamento = 27000
lucro = faturamento - custo

lucro_formatado = 'R${:_.2f}'.format(lucro)
print('faturamento foi de {:_,} e o lucro foi de  {:+,}'.format(faturamento, lucro))
print(lucro_formatado.replace('.',',').replace('_','.'))

In [53]:
custo = 100
faturamento = 10000
lucro = (faturamento - custo)
porcentagem = (faturamento - custo)/faturamento
print('faturamento foi de R${:,.2f}, o lucro foi de R${:,.1f} e a porcentagem foi de R${:,.1f}'.format(faturamento, lucro, porcentagem))
print('faturamento foi de R${:,.2F}, o lucro foi de  R${:,.1f} e a porcentagem foi de {:,.2%}'.format(faturamento, lucro, porcentagem))

faturamento foi de R$10,000.00, o lucro foi de R$9,900.0 e a porcentagem foi de R$1.0
faturamento foi de R$10,000.00, o lucro foi de  R$9,900.0 e a porcentagem foi de 99.00%

In [56]:
# FUNÇÃO ROUND - ARREDONDAR

imposto = 0.15758
preco = 100
valor_imposto = round(preco * imposto, 2)
print('Imposto sobre o preço é de R${}'.format(valor_imposto))

Imposto sobre o preço é de R$15.76

## LISTAS EM PYTON

In [81]:

precos = [28.99, 31.85, 17.66, 6.82, 5.09, 12.84, 13.3, 42.41, 15.29, 24.77, 13.31, 7.81, 8.78, 3.06, 34.34, 21.23, 22.58, 34.95, 24.32, 34.27]
produtos = ['Arroz', 'Feijão', 'Açúcar', 'Leite', 'Óleo', 'Café', 'Farinha', 'Sal', 'Massa', 'Biscoito', 'Suco', 'Cereal', 'Sabonete', 'Shampoo', 'Pasta de dente', 'Detergente', 'Desodorante', 'Papel higiênico', 'Sabão em pó', 'Amaciante']

In [67]:
for i in  zip(produtos,precos):
  print(i)

('Arroz', 28.99)
('Feijão', 31.85)
('Açúcar', 17.66)
('Leite', 6.82)
('Óleo', 5.09)
('Café', 12.84)
('Farinha', 13.3)
('Sal', 42.41)
('Massa', 15.29)
('Biscoito', 24.77)
('Suco', 13.31)
('Cereal', 7.81)
('Sabonete', 8.78)
('Shampoo', 3.06)
('Pasta de dente', 34.34)
('Detergente', 21.23)
('Desodorante', 22.58)
('Papel higiênico', 34.95)
('Sabão em pó', 24.32)
('Amaciante', 34.27)

In [84]:
produto =  input('insira o nome do produto: ')
if produto in produtos:
  i = produtos.index(produto)
  lista_de_precos = precos[i]
  print('O produto {} tem o valor de R${}'.format(produto,lista_de_precos))
else:
  print('O produto {} não está na lista'.format(produto))

insira o nome do produto: Papel higiênico
O produto Papel higiênico tem o valor de R$34.95

# ADICIONAR OU REMOVER ITENS DE UMA LISTA

In [121]:
# POP pode add em uma nova planilha os itens removidos. E você usa o INDICE
# JÁ O REMOVE você usa o nome do item

produtos_apple = ['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro',
'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro',
'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac',
'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard',
'Magic Mouse', 'Magic Trackpad']
#add produtos
produtos_apple.append('Apple Vision Pro')
print(len(produtos_apple))

21

In [106]:
#removendo com o remove

produtos_apple.remove('Apple Vision Pro')
print(len(produtos_apple))

20

In [122]:
produtos_apple.append('Apple Vision Pro')
print(len(produtos_apple))

22

In [126]:
#removendo com o pop aqui é pelo indice

#uma das formas de tratar um possível erro é usando o método TRY junto com o
# except e coloca um print. ou pode usar um PASS pra o código continuar

#como não sei o indice, usei o método index para descobrir o índice pelo nome
try:
  produtos_apple.pop(produtos_apple.index('Apple Vision Pro'))
  #printei o tamanho da lista para verificar se houve a exclusão
  print(len(produtos_apple))
  #criei uma lista para receber os produtos removidos
  removidos = produtos_apple.pop()
  #printando tanto os removidos como a lista original
  print('O item {} foi removido'.format(removidos))
  print('Essa é a lista completa:{} '.format(produtos_apple))
except:
  print('Não tá na lista')

Não tá na lista

# JUNTAR, ORDENAR
# MÉTODO EXTEND CRIA UMA NOVA LISTA  E O MÉTODO APPEND QUE MODIFICA A LISTA ORIGINAL

In [130]:
produtos_apple = ['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro',
'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro',
'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac',
'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard',
'Magic Mouse', 'Magic Trackpad']
novo_produto_apple = ['Apple Vision Pro']

#USANDO O EXTEND

print(produtos_apple)
print(novo_produto_apple)

['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro', 'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro', 'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac', 'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard', 'Magic Mouse', 'Magic Trackpad']
['Apple Vision Pro']

In [131]:
produtos_apple.extend(novo_produto_apple)
print(produtos_apple)

['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro', 'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro', 'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac', 'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard', 'Magic Mouse', 'Magic Trackpad', 'Apple Vision Pro']

In [134]:
# ORDENDAR A LISTA

produtos_apple.sort(reverse=True)
print(produtos_apple)

['iPhone 15 Pro Max', 'iPhone 15', 'iPad Pro', 'iPad Air', 'iMac', 'Magic Trackpad', 'Magic Mouse', 'Magic Keyboard', 'MacBook Pro', 'MacBook Air', 'Mac Studio', 'Mac Mini', 'HomePod Mini', 'HomePod', 'Apple Watch Ultra', 'Apple Watch Series 9', 'Apple Vision Pro', 'Apple TV 4K', 'Apple Pencil', 'AirPods Pro', 'AirPods Max']

PRINT DE LISTAS

In [138]:
produtos_apple = ['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro', 'iPad Pro',
'iPad Air', 'Apple Watch Series 9', 'Apple Watch Ultra', 'AirPods Pro',
'AirPods Max', 'Apple TV 4K', 'HomePod', 'HomePod Mini', 'iMac',
'Mac Mini', 'Mac Studio', 'Apple Pencil', 'Magic Keyboard',
'Magic Mouse', 'Magic Trackpad']

print('\n'.join(produtos_apple))
print(','.join(produtos_apple))

iPhone 15
iPhone 15 Pro Max
MacBook Air
MacBook Pro
iPad Pro
iPad Air
Apple Watch Series 9
Apple Watch Ultra
AirPods Pro
AirPods Max
Apple TV 4K
HomePod
HomePod Mini
iMac
Mac Mini
Mac Studio
Apple Pencil
Magic Keyboard
Magic Mouse
Magic Trackpad
iPhone 15,iPhone 15 Pro Max,MacBook Air,MacBook Pro,iPad Pro,iPad Air,Apple Watch Series 9,Apple Watch Ultra,AirPods Pro,AirPods Max,Apple TV 4K,HomePod,HomePod Mini,iMac,Mac Mini,Mac Studio,Apple Pencil,Magic Keyboard,Magic Mouse,Magic Trackpad

In [144]:
#aqui está como texto
produtos_apple = 'iPhone 15, iPhone 15 Pro Max, MacBook Air, MacBook Pro'

#TRANSFORMANDO texto EM LISTA
lista_sem_aspas = produtos_apple.split(', ')

print(lista_sem_aspas)

['iPhone 15', 'iPhone 15 Pro Max', 'MacBook Air', 'MacBook Pro']

In [ ]:
# MAIS SOBRE LISTA
# ALTERAÇÕES INCREMENTAIS DE VARIÁVEIS